.NavBar {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding: 2rem;
    background-image: linear-gradient(to right, #a0b6d4, #ffffff);
}

#logo {
    height: 10rem;
}

#login {
    height: 3rem;
}

#hamb {
    height: 3rem;
    width: 3rem;
}

.hamburger-lines {
    height: 2.4rem;
    width: 3rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    display: block;
    height: 0.4rem;
    width: 100%;
    border-radius: 10rem;
    background: #043a7c;
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.open .line1 {
    transform: rotate(45deg);
}

.open .line2 {
    transform: scaleY(0);
}

.open .line3 {
    transform: rotate(-45deg);
}

.open .menu-items {
    transform: translateY(0);
}

.menu-items {
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #033e8d;
    width: 40%;
    transform: translateY(-300vh);
    transition: transform 0.5s ease-in-out;
    margin: 1rem;
    padding: 1rem;
    z-index: 5;
    position: absolute;
}

.menu-items li {
    border-top: solid #004aa2;
    height: 1.8rem;
    padding: 0.3rem;
    color: white;
    font-family: Helvetica, sans-serif;
}

.menu-items li:hover {
    background-color: #004aa2;
}

.unseen li {
    display: none;
}

.seen li {
    list-style: none;
}
