.form {
  display: flex;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  position: relative;
  font-weight: bold;
  width: 80%;
  left: 8%;
  margin: 4rem 1rem;
}

.form p {
  font-size: 1.5rem;
}

.login {
  align-items: center;
}

.login-form,
.new-user-form {
  width: 100%;
}

.login input,
.login textarea {
  background-color: #033e8d;
  color: white;
}

.login label {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 4rem;
}

.login p {
  color: #03318d;
  text-shadow: 1px 1px black;
  text-align: center;
}

.new-user {
  color: #03318d;
  text-shadow: 1px 1px black;
}

.form input {
  height: 5rem;
  width: 100%;
  position: relative;
  padding: 1rem;
  font-size: 2rem;
  text-align: left;
}

.form textarea {
  height: 10rem;
  width: 100%;
  position: relative;
  padding: 1rem;
  font-size: 2.2rem;
  text-align: left;
  resize: vertical;
}

.form label {
  position: relative;
  left: 1%;
  top: 1.5rem;
  height: 1rem;
  z-index: 3;
  font-size: medium;
}

.new-user-password-container {
  display: flex;
  flex-direction: row;
}

.new-user-password {
  width: 70%;
}

.new-user-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.button {
  position: relative;
  height: 3rem;
  width: 100%;
  margin: 1rem;
  font-family: Helvetica, sans-serif;
  font-size: large;
}

.login-button {
  background-color: #033e8d;
}

.new-user-button {
  background-color: white;
}
