.partner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5%;
}

.partner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  padding: 2%;
  width: 92%;
}

.partner-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  background-color: #004AA2A0;
}

.partner-logo {
  display: flex;
  border: solid black 2px;
  border-radius: 100%;
  color: white;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
}

.partner-info-container {
  border: solid 2px #004AA2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #033e8d;
  height: 20rem;
  width: 20rem;
}
