.NavBar {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding: 2rem;
    background-image: linear-gradient(to right, #a0b6d4, #ffffff)
}

#logo {
    height: 15rem;
    width: 30rem;
}

#login {
    height: 4rem;
}
